<!DOCTYPE html>
<html>
<%-include('../partials/header')-%>

<%-include('../partials/sideNav')-%>
<main class="content">

    <%-include('../partials/topNav')-%>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
        <!-- <div class="btn-toolbar dropdown">
            <button class="btn btn-dark btn-sm me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus me-2"></span>New Task
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
                <a class="dropdown-item fw-normal rounded-top" href="#"><span class="fas fa-tasks"></span>New Task</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-cloud-upload-alt"></span>Upload Files</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-user-shield"></span>Preview Security</a>
                <div role="separator" class="dropdown-divider my-0"></div>
                <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger"></span>Upgrade to Pro</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
        </div> -->
    </div>
    <div class="row">
        <div class="col-8 mb-4">
            <div class="card shadow-sm p-0">
                <div class="profile-cover rounded-top" data-background="../assets/img/profile-cover.jpg"></div>
                <div class="card-body pb-5">
                    <img src="../assets/img/team/profile-picture-1.jpg" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                    <div style="justify-content: center; text-align: center; margin-bottom: 1rem;">
                        <h4 class="h3 text-center" style="display: inline-flex;"><%= currentUser.name.firstName + " " + currentUser.name.lastName %></h4>
                        <div id= "trustScore" class="col-md-6" style="display: inline-flex; background-color: greenyellow; border-radius: 50%;width: 70px;
                            height: 70px; text-align: center; margin: auto 1rem; line-height: 70px; font-size: 2rem;">
                            <%= currentUser.trustScore %>
                            <!-- <label style="font-size: 1rem; width: 300px; text-align: center;"for="trustScore">Trust Score</label> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6" style="display: inline-flex;">
                                <p class="text-gray mb-4"><strong>Joined On: </strong> <%= moment(currentUser.joinedAt).format('MMMM YYYY')%>  </p>
                            </div>
                            <div class="col-md-6" style="display: inline-flex;">
                                <p class="text-gray mb-4"><strong>Permanent Address: </strong> <br> <%= currentUser.permanentAddress.street + ', ' + currentUser.permanentAddress.city + ', ' + currentUser.permanentAddress.state + ', ' + currentUser.permanentAddress.zip%> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-gray mb-4"><strong>Phone number: </strong> <%= currentUser.contact.phone %></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-gray mb-4"><strong>Email: </strong> <%= currentUser.contact.email %></p>
                            </div> 
                        </div> 
                        <div class="row">
                            <div class="col-md-6">
                                <p>Active Medical SOS count: <strong> <%= currentUser.medicalRequestCount  %></strong></p>
                            </div>
                            <div class="col-md-6">
                                <p>Active Crime SOS count: <strong> <%= currentUser.crimeRequestCount  %></strong></p>
                            </div>
                        </div>
                        <!-- <a class="btn btn-sm btn-dark me-2" href="#"><span class="fas fa-user-plus me-1"></span> Connect</a>
                        <a class="btn btn-sm btn-secondary" href="#">Send Message</a> -->
                    </div>
                    
                    <!-- <a class="btn btn-sm btn-dark me-2" href="#"><span class="fas fa-user-plus me-1"></span> Connect</a>
                    <a class="btn btn-sm btn-secondary" href="#">Send Message</a> -->
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="row">
                <div class="card shadow-sm p-0 mb-3">
                    <div class="text-center mt-5 "><button style="border-radius: 25px;" type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" id="medicalSOS" data-bs-target="#modal-medical">Medical SOS</button></div>
                    <div class="modal fade" id="modal-medical" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="h6 modal-title">Do you want to proceed ?</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/request/send/medical/<%= currentUser._id %>" method="POST">
                                    <div class="modal-body">
                                        <h6>Your current location is :</h6> <p><p id = "medicalStatus"></p><a id = "medicalMapLink" target="_blank"></a></p>
                                        <h6>This message will be sent to the people inside 1km radius from your current location:</h6>
                                        <textarea name="message" id="msg" cols="55" rows="5" style="border-radius: 10px;padding: 3px;">My name is <%=currentUser.name.firstName + " " + currentUser.name.lastName %>.&#10;I am in need of immediate medical help at the address "current Address". 
                                        </textarea>
                                        <p style="color: rgb(199, 33, 33);">#Your Trust Score will have adverse effects if fake SOS is genreated.</p>
                                        <p style="color: green;">*Your Phone number will be shown only when receiver accepts your SOS call</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Send</button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Reject</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-4">
                        Request immediately for medical help from nearby users without waiting for professional services. Send help and get help from SOS Assist. Thank You for using the website.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card shadow-sm p-0 mb-4">
                    <div class="text-center mt-5"><button style="border-radius: 25px;" type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#modal-crime" id="crimeSOS">Crime SOS</button></div>
                        <div class="modal fade" id="modal-crime" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="h6 modal-title">Do you want to proceed ?</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/request/send/crime/<%= currentUser._id %>" method="POST">
                                        <div class="modal-body">
                                            <h6>Your current location is :</h6> <p><p id = "crimeStatus"></p><a id = "crimeMapLink" target="_blank"></a></p>
                                            <h6>This message will be sent to the people inside 1km radius from your current location:</h6>
                                            <textarea name="message" id="msg" cols="55" rows="5" style="border-radius: 10px;padding: 3px;">My name is <%=currentUser.name.firstName + " " + currentUser.name.lastName %>.&#10;I am in need of immediate medical help at the address "current Address". 
                                            </textarea>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                                        <label class="form-check-label" for="defaultCheck10">
                                                            Kidnapping
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                                        <label class="form-check-label" for="defaultCheck10">
                                                            Theft
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                                        <label class="form-check-label" for="defaultCheck10">
                                                            Criminal is armed.
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                                        <label class="form-check-label" for="defaultCheck10">
                                                            Multiple criminals.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <p style="color: rgb(199, 33, 33);">#Your Trust Score will have adverse effects if fake SOS is genreated.</p>
                                            <p style="color: green;">*Your Phone number will be shown only when receiver accepts your SOS call</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Send</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Reject</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <div class="card-body pb-4">
                    	Request immediately for physical help from nearby users without waiting for professional services. Send help and get help from SOS Assist.
                        <!-- <a class="btn btn-sm btn-dark me-2" href="#"><span class="fas fa-user-plus me-1"></span> Connect</a>
                        <a class="btn btn-sm btn-secondary" href="#">Send Message</a> -->
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <%-include('../partials/footer')-%>
</main>
</html>